[submodule "thirdparty/pybind11"]
	path = thirdparty/pybind11
	url = ../../pybind/pybind11
	branch = stable
[submodule "thirdparty/cpp-oasvalidator"]
	path = thirdparty/cpp-oasvalidator
	url = ../../nawaz1991/cpp-oasvalidator
